body{
    color: #7A5656;
}
footer{
    background-color: #C7C7C7;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer p{
    margin-bottom: 0;
}
#app{
    margin-bottom: 30px;
}
#menu{
    background-color: #C7C7C7;
}
.text-center{
    color: #7A5656;
}
#btnEdit{
    background-color: #C7C7C7;
}
.abc{
    background-color:  #FFFFFF !important;
    font-size:12px;
}
#carLine{
    font-weight: bold;
    color: green !important;
}
